[*.{kt,kts}]
# ktlint_standard = disabled # Disable all rules from the `standard` rule set provided by KtLint
ktlint_standard_no-wildcard-imports = disabled
ktlint_code_style = intellij_idea
ktlint_standard_max-line-length = enabled
max_line_length = 120
ktlint_standard_no-empty-file = disabled